.App {
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
    height: 100vh;
    background-color: #333;
}

.App-header {
    text-align: center;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    z-index: 2;
}

#tsparticles {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: 0;
}
 
.Form {
    width: 350px;
}

.Form-header {
    padding-bottom: 15px;
}

.FormContainer {
    border: 2px #479db0;
    background-color:#479db0;
    padding: 15px;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
}
  
input {
    margin-left: 10px;
}
  
.Spidr {
    height: 100%;
}

button {
    background-color: transparent;
    color: white;
    border-color: white;
    border-width: 1px;
    width: 60px;
    height: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333;
    border-color: #479db0;
}
